<div class="activity-card" style="{{activity.activity_type.style}}" ng-click="showActivity(activity)">
	<div style="height: calc(100% - 204px);">
		<img ng-src="{{helpers.resolveProfilePicture(activity.organizer)}}" class="activity-organizer-image" alt="{{activity.organizer.email}}" ng-click="showProfile(activity.organizer);$event.stopPropagation();">
		<br class="clear">
	</div>
	<div class="activity-info">
		<div class="center glossy">
			<div class="activity-type-name">{{activity.activity_type.name}}</div>
			<div class="activity-organizer-name">{{activity.organizer.name}}</div>
			<div class="activity-location-name">{{activity.location_name}}</div>
			<div class="activity-timeframe">{{activity.from | asDate | date: "d.M. klo H:mm"}} - {{activity.to | asDate | date: "H:mm"}}</div>
			<div class="activity-desc">{{activity.comments[0].text}}</div>
			<div class="activity-stars">
				<div class="star-five" ng-class="{highlight: activity.required_level >= n}" ng-repeat="n in [1, 2, 3, 4, 5]"></div>
			</div>
			<div class="activity-participants">{{activity.participants.length + 1}} / {{activity.participant_count}} {{'BROWSE_PARTICIPANTS' | translate}}</div>
			<div class="activity-distance">{{activity.distance | number:1}} km</div>
		</div>
	</div>
</div>