<ons-page class="center" ng-controller="browseCtrl" ng-init="initialize();" id="browse-activities">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="mainMenu.toggle();">
				<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
			</ons-toolbar-button>
		</div>
		<div class="center">{{'ACTIVER' | translate}}</div>
		<div class="right">
			<ons-toolbar-button ng-click="appNavigator.pushPage('templates/create-activity.html');">
				<ons-icon icon="ion-ios-plus-outline" size="28px" fixed-width="false"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	<ons-button modifier="large" style="margin: 0 auto;" ng-click="showActivityTypePopover($event);">
		{{selectedActivityType.name || 'BROWSE_ALL_ACTIVITY_TYPES' | translate}}
	</ons-button>
	<div ng-show="activities.length" style="height: calc(100% - 64px);">
		<div id="browser">
			<ons-carousel swipeable overscrollable auto-scroll auto-refresh style="height: 100%;" var="browseCarousel" auto-scroll-ratio="0.33" ons-postchange="changed($event)" ons-overscroll="overscrolled($event)">
				<ons-carousel-item ng-repeat="activity in activities track by $index" style="visibility: visible !important;">
					<div id="top-container">
						<div id="activity-card-container" ng-include="'templates/_activity-card.html'"></div>
						<div id="controls">
							<div class="center">
								<ons-icon
									icon="fa-check"
									size="20px"
									fixed-width="false"
									class="glossy control send-invitation"
									ng-click="invite(activity);">
								</ons-icon>
								<ons-icon
									icon="fa-forward"
									size="20px"
									fixed-width="false"
									class="glossy control skip"
									ng-click="skip(activity);">
								</ons-icon>
							</div>
						</div>

					</div>
				</ons-carousel-item>
				<ons-carousel-cover>
					<div id="cover">
						<div id="label" class="glossy">
							{{'BROWSE_SWIPE_FOR_MORE' | translate}}<br/>
							{{'COMMON_ACTIVITY' | translate}} {{currentIndex + 1}} / {{activities.length}}
						</div>
					</div>
				</ons-carousel-cover>
			</ons-carousel>
		</div>
	</div>
	<div id="no-activities" ng-hide="activities.length">
		<div class="glossy" id="info">
			{{'BROWSE_NO_ACTIVITIES' | translate}}<br/>
			<ons-button modifier="large" style="margin: 0 auto;" ng-click="updateActivities(true);">
				{{'COMMON_UPDATE' | translate}}
			</ons-button>
		</div>
	</div>
</ons-page>