<ons-page id="register" ng-controller="forgotPasswordCtrl">
	<ons-toolbar>
		<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
		<div class="center">{{'FORGOT_PASSWORD' | translate}}</div>
	</ons-toolbar>

	<div class="formarea">
		<div class="form-row">
			<input type="email" class="text-input--underbar width-full" placeholder="{{'COMMON_EMAIL' | translate}}" ng-model="email">
		</div>

		<div class="vspc form-row">
			<ons-button modifier="large--cta" ng-click="sendNewPassword();">{{'FORGOT_PASSWORD_SEND_NEW_PASSWORD' | translate}}</ons-button>
		</div>
	</div>
</ons-page>