<ons-page ng-controller="loginCtrl" ng-init="initialize()">
	<ons-toolbar>
		<div class="center">{{'LOGIN_SIGN_IN' | translate}}</div>
	</ons-toolbar>

	<div id="login">
		<div class="form-set glossy">
			<input type="email" class="text-input--underbar" placeholder="{{'COMMON_EMAIL' | translate}}" ng-model="email" value="">
			<input type="password" class="text-input--underbar" placeholder="{{'COMMON_PASSWORD' | translate}}" ng-model="password" value="">
		</div>
		<ons-button modifier="large" class="login-button glossy" ng-click="login()">{{'LOGIN_SIGN_IN' | translate}}</ons-button>
		<br/>
		<ons-button modifier="large" class="login-button glossy" ng-click="facebookLogin()">{{'LOGIN_SIGN_IN_WITH_FACEBOOK' | translate}}</ons-button>
		<br/><br/>
		<div id="others" class="form-set glossy">
			<ons-button modifier="quiet" class="register" ng-click="register();">{{'REGISTER_REGISTER' | translate}}</ons-button>
			<br/>
			<ons-button modifier="quiet" class="forgot-password" ng-click="forgotPassword();">{{'FORGOT_PASSWORD' | translate}}</ons-button>
		</div>
	</div>
</ons-page>