<ons-page ng-controller="loginCtrl" ng-init="initialize()">
	<ons-toolbar>
		<div class="center">{{'LOGIN_SIGN_IN' | translate}}</div>
	</ons-toolbar>

	<div id="login-wrapper">
		<div id="login">
			<ons-button modifier="large" id="facebook" ng-click="facebookLogin()">{{'LOGIN_SIGN_IN_WITH_FACEBOOK' | translate}}</ons-button>
			<div id="login-or">{{'LOGIN_OR_USE_ACTIVER' | translate}}</div>
			<div class="form-set glossy">
				<input type="email" class="text-input--underbar" placeholder="{{'COMMON_EMAIL' | translate}}" ng-model="email" value="">
				<input type="password" class="text-input--underbar" placeholder="{{'COMMON_PASSWORD' | translate}}" ng-model="password" value="">
			</div>
			<div id="signing">
				<ons-button modifier="large" class="" ng-click="login()">{{'LOGIN_SIGN_IN' | translate}}</ons-button>
				<ons-button modifier="outline" class="register" ng-click="register();">{{'REGISTER_REGISTER' | translate}}</ons-button>
			</div>
			<ons-button modifier="quiet" id="forgot-password" ng-click="forgotPassword();">{{'FORGOT_PASSWORD' | translate}}</ons-button>
		</div>
	</div>
</ons-page>