<ons-page ng-controller="myActivitiesCtrl" ng-init="initialize()">
	<ons-toolbar>
		<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
		<div class="center">
			{{'MENU_MY_ACTIVITIES' | translate}}
		</div>
		<div class="right">
			<ons-toolbar-button>
				<ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>

	<ons-list class="my-activities-list">
		<ons-list-item
			modifier="chevron"
			class="my-activities"
			ng-repeat="activity in activities track by $index"
			ng-click="showActivity(activity);"
			ng-class="{
				'own': ownActivity(activity),
				'pending': pendingActivity(activity),
				'participating': participatingInActivity(activity)
				}">
			<ons-row>
				<ons-col width="80px" class="my-activities-left">
					<div class="my-activities-date">{{activity.from | asDate | date: "d.M. klo H:mm"}} - {{activity.to | asDate | date: "H:mm"}}</div>
					<div class="my-activities-duration">{{getDuration(activity.from, activity.to) | asDate | date: "H'h' mm'min'"}}</div>
				</ons-col>

				<ons-col width="6px" class="my-activities-center" style="background-color: #3399ff">
				</ons-col>

				<ons-col class="my-activities-right">
					<div class="my-activities-name">{{activity.activity_type.name}} ({{activity.participants.length + 1}} / {{activity.participant_count}} {{'COMMON_PARTICIPANTS' | translate}})</div>

					<!--<div class="my-activities-info">
						<div ng-hide="a % 4 == 0">
							<ons-icon icon="fa-phone"></ons-icon>123-456-789
						</div>
					</div>-->
				</ons-col>
			</ons-row>
		</ons-list-item>
	</ons-list>
</ons-page>