<ons-page class="center" ng-controller="selectListCtrl" ng-init="initialize(appNavigator.getCurrentPage().options)">
	<ons-toolbar>
		<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
		<div class="center">{{'ACTIVER' | translate}}</div>
		<div class="right">
		</div>
	</ons-toolbar>

	<ons-list>
		<ons-list-header>{{name}}</ons-list-header>
		<ons-list-item modifier="tappable" ng-repeat="item in data" id="item.id">
			<label class="checkbox checkbox--list-item">
				<input type="checkbox" ng-checked="selection.indexOf(item.id) !== -1" ng-click="toggleSelection(item.id)">
				<div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
				{{item.name}}
			</label>
		</ons-list-item>
	</ons-list>
	<ons-button modifier="large" ng-click="cancel()">{{'COMMON_CANCEL' | translate}}</ons-button>
	<ons-button modifier="large" ng-click="ok()">{{'COMMON_OK' | translate}}</ons-button>
</ons-page>