<ons-page class="center">
	<ons-toolbar>
		<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
		<div class="center">{{'MENU_SETTINGS' | translate}}</div>
		<div class="right"></div>
	</ons-toolbar>


	<div class="content-padded" id="settings" ng-controller="settingsCtrl">
		<div class="glossy" style="padding: 22px;">
			{{'SETTINGS_RANGE' | translate}}: <input type="number" min="1" max="500" ng-model="range" class="text-input text-input--transparent" />
		</div>
		<ons-list style="margin-top: 10px;">
			<ons-list-item modifier="tappable" ng-click="logout()" style=""><ons-icon icon="ion-log-out" style="opacity: 0.8; margin-right: 12px;"></ons-icon>{{getUserName()}}<span style="color: #00ACEE;">{{'SETTINGS_SIGN_OUT' | translate}}</span></ons-list-item>
		</ons-list>
	</div>
</ons-page>