<ons-page class="center" ng-controller="showActivityCtrl" ng-init="initialize(appNavigator.getCurrentPage().options.activity)" style="{{activity.activity_type.style}}">
	<ons-toolbar>
		<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
		<div class="center">{{'ACTIVER' | translate}}</div>
		<div class="right">
		</div>
	</ons-toolbar>

	<div id="activity">
		{{activity.activity_type.name}}
		{{activity.location_name}}
		{{activity.participants.length}} / {{activity.participant_count}}
		{{activity.from | date}} - {{activity.to | date}}
		<div id="comments">
			<div class="comment" ng-repeat="comment in activity.comments">
				<span class="author">{{comment.author.name}}</span>: {{comment.text}}
			</div>
		</div>
		<input type="text" ng-model="comment" placeholder="{{'SHOW_ACTIVITY_WRITE_A_COMMENT' | translate}}" />
		<ons-button modifier="large" ng-click="sendComment()">{{'SHOW_ACTIVITY_COMMENT' | translate}}</ons-button>
	</div>
</ons-page>