<ons-page id="register" ng-controller="registerCtrl" ng-init="initialize(appNavigator.getCurrentPage().options.registeredDeferred)">
	<ons-toolbar>
		<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
		<div class="center">{{'SIGN_UP_SIGN_UP' | translate}}</div>
	</ons-toolbar>

	<div class="formarea">
		<div class="form-row">
			<input type="email" class="text-input--underbar width-full" placeholder="{{'COMMON_EMAIL' | translate}}" value="">
		</div>

		<div class="form-row">
			<input type="password" class="text-input--underbar width-full" placeholder="{{'COMMON_PASSWORD' | translate}}" value="">
		</div>
		<div class="lucent">
			<p class="note">{{'SIGN_UP_PASSWORD_HINT' | translate}}</p>
		</div>

		<div class="form-row">
			<input type="text" class="text-input--underbar width-half" placeholder="{{'SIGN_UP_FIRST_NAME' | translate}}" value="">
			<input type="text" class="text-input--underbar width-half" placeholder="{{'SIGN_UP_LAST_NAME' | translate}}" value="" style="border-width-left: 1px">
		</div>

		<div class="vspc form-row">
			<ons-button modifier="large--cta">{{'SIGN_UP_SIGN_UP' | translate}}</ons-button>
		</div>
	</div>
</ons-page>