

.text-input {
	margin-top: 4px;
}

.textarea {
	margin-top: 4px;
}



.star-five {
	margin: 12px 0;
	position: relative;
	display: inline-block;
	color: white;
	width: 0px;
	height: 0px;
	border-right:  25px solid transparent;
	border-bottom: 17px solid lightgray;
	border-left:   25px solid transparent;
	-moz-transform:    rotate(35deg);
	-webkit-transform: rotate(35deg);
	-ms-transform:     rotate(35deg);
	-o-transform:      rotate(35deg);
}

.star-five:before {
	border-bottom: 20px solid lightgray;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -11px;
	left: -16px;
	display: block;
	content: '';
	-webkit-transform: rotate(-35deg);
	-moz-transform:    rotate(-35deg);
	-ms-transform:     rotate(-35deg);
	-o-transform:      rotate(-35deg);
}

.star-five:after {
	position: absolute;
	display: block;
	color: red;
	top: 1px;
	left: -26px;
	width: 0px;
	height: 0px;
	border-right: 25px solid transparent;
	border-bottom: 17px solid lightgray;
	border-left: 25px solid transparent;
	-webkit-transform: rotate(-70deg);
	-moz-transform:    rotate(-70deg);
	-ms-transform:     rotate(-70deg);
	-o-transform:      rotate(-70deg);
	content: '';
}

.star-five.highlight
{
	border-bottom-color: darkgoldenrod;
}
.star-five.highlight:before
{
	border-bottom-color: darkgoldenrod;
}
.star-five.highlight:after
{
	border-bottom-color: darkgoldenrod;
}
