#browse-activities #browser
{
	height: calc(100% - 50px);
	position: absolute;
	top: 48px;
	width: 100%;
}

#browse-activities #top-container
{
	height: 85%;
	position: absolute;
	width: 100%;
}

#browse-activities #top-container .activity-card {
	text-align: center;
	color: white;
	padding: 1% 0;
	line-height: 20px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
	margin: 0 auto;
	border: 2px solid black;
	position: relative;
	width: 96%;
	height: 75%;
}

#browse-activities #top-container .activity-card .activity-organizer-image {
	height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: black;
	border: 1px solid black;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 0;
}

#browse-activities #top-container .activity-card .activity-info
{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 178px;
	margin: 3px 0;
}

#browse-activities #top-container .activity-card .activity-info .center
{
	width: 95%;
	margin: 0 auto;
	padding: 4px 0;
	background: linear-gradient(to bottom, rgba(114, 164, 224, 0.9) 31%,rgba(255, 255, 255, 0.65) 100%);
}

#browse-activities #controls
{
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 72px;
}

#browse-activities #controls .center
{
	margin: 1% auto;
	width: 70%;
}

#browse-activities #controls .control
{
	padding: 20px;
	border-radius: 40px;
}

#browse-activities #controls .control.send-invitation
{
	color: lightgreen;
	float: left;
}

#browse-activities #controls .control.skip
{
	color: red;
	float: right;
}

#browse-activities #cover {
	text-align: center;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	color: #33393c;
	max-height: 15%;
}

#browse-activities #cover #label {
	margin: 0 auto;
	width: 96%;
}