#login {
	text-align: center;
	width: 80%;
	margin: 60px auto 0;
}

#login input[type=email], #login input[type=password] {
	display: block;
	width: 100%;
	margin: 0 auto;
	outline: none;
	padding-top: 24px;
	padding-bottom: 24px;
}

#login .login-button {
	width: 100%;
	margin: 0 auto;
}

#login #others
{
	width: 70%;
	margin: 0 auto;
}

#login #others span span
{
	color: rgba(10, 90, 170, 0.9);
}