.page__content
{
	background-color: #bfdaf6 !important;
	background-image: url("images/zenbg_1024_50.jpg"), url("images/zenbg_1024_50.jpg") !important;
	background-repeat: repeat-x, repeat !important;
}