#activity
{
	height: calc(100% - 64px);
	width: 96%;
	margin: auto;
}

#activity #activity-card-container
{
	height: calc(100% - 140px);
}


#activity #comment-area-container
{
	height: 170px;
	left: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom: 10px;
}

#activity #comment-area-container #comment-area
{
	margin: 0 auto;
	width: 93%;
	position: relative;
	height: 100%;
}

#activity #comment-area-container #comment-area #comments
{
	height: calc(100% - 54px);
	width: 100%;
	margin: 0 auto;
	overflow-y: scroll;
	padding-top: 4px;
}

#activity #comment-area-container #comment-area #comments .comment
{
	width: 98%;
	border-bottom: 1px solid black;
	padding: 3px 0;
	color: black;
	margin: 0 auto;
}
#activity #comment-area-container #comment-area #comments .comment .author
{
	color: maroon;
}

#activity #comment-area-container #comment-area #commenting
{
	height: 50px;
	bottom: 0;
	position: absolute;
	width: 98%;
	margin: 0 1%;
	padding-top: 2px;
}

#activity #comment-area-container #comment-area #commenting input
{
	height: 40px;
	width: calc(100% - 130px);
	margin: 0 4px;
}