#activity
{
	height: 96%;
	width: 96%;
	margin: auto;
	border: 1px solid white;
}

#activity #info
{
	background-color: rgba(255, 255, 255, 0.7);
}

#activity #comments
{
	min-height: 100px;
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	margin: 0 auto;
}

#activity #comments .comment
{
	width: 98%;
	border-bottom: 1px solid black;
	padding: 2px 0;
	color: black;
	margin: 0 auto;
}

#activity #comments .comment .author
{
	color: #3399ff;
}