<?xml version='1.0' encoding='utf-8'?>
<widget id="net.activer" version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap="http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Activer</name>
	<description>
		Find company to do sports or attend happenings.
	</description>
	<author email="roope.hakulinen@gmail.com" href="http://activer.net">
		Roope Hakulinen
	</author>
	<content src="index.html"/>
	<access origin="*"/>

	<!-- Use the newest version of PhoneGap -->
	<preference name='phonegap-version' value='cli-5.1.1' />

	<!-- PhoneGap plugins for PhoneGap Build to attach to build -->
	<gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" version="1.1.0" />
	<gap:plugin name="org.apache.cordova.camera" version="0.3.2" source="npm" />
	<gap:plugin name="org.apache.cordova.device" version="0.2.12" source="npm" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" source="npm" />
	<gap:plugin name="org.apache.cordova.file" version="1.3.1" source="npm" />
	<gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" source="npm" />
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.12" source="npm" />
	<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" source="npm" />
	<gap:plugin name="nl.x-services.plugins.toast" version="2.0.2" source="npm" />
	<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" source="pgb" />
	<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0" source="pgb"> <!-- PhoneGap Build doesn't yet support 0.9.0 -->
		<param name="APP_ID" value="375866282577187"/>
		<param name="APP_NAME" value="Activer"/>
	</gap:plugin>

	<gap:config-file platform="android" parent="/manifest">
		<application
			android:debuggable="true"
			/>
	</gap:config-file>

	<!-- App needs permissions only for camera, internet, storage, media (record audio and video) and network state -->
	<feature name="http://api.phonegap.com/1.0/camera" />
	<feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/file" />
	<feature name="http://api.phonegap.com/1.0/geolocation" />
	<feature name="http://api.phonegap.com/1.0/network" />

	<!--<gap:splash src="splash.png" />-->

	<!-- General preferences -->
	<preference name="orientation" value="portrait" />
	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="30000" />
	<preference name="AutoHideSplashScreen" value="false" />

	<!-- Android preferences -->
	<preference name="android-installLocation" value="auto" />
	<preference name="detect-data-types" value="true" />
	<preference name="AndroidPersistentFileLocation" value="Internal" /> <!-- Makes FileTransfer use internal storage -->
	<preference name="android-minSdkVersion" value="14" /> <!-- There values are defined on Android's tablet quality guide -->
	<preference name="android-targetSdkVersion" value="19" />

	<!-- iOS preferences -->
	<preference name="exit-on-suspend" value="false" />
	<preference name="fullscreen" value="true" />
	<preference name="iosPersistentFileLocation" value="Library" /> <!-- Makes FileTransfer use internal storage -->

	<gap:splash src="splash.png" />
	<!-- iPhone and iPod touch -->
	<gap:splash src="splash.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splash.png" gap:platform="ios" width="640" height="960" />

	<!-- iPhone 5 / iPod Touch (5th Generation) -->
	<gap:splash src="splash.png" gap:platform="ios" width="640" height="1136" />

	<!-- iPhone 6 -->
	<gap:splash src="splash.png" gap:platform="ios" width="750" height="1334" />
	<gap:splash src="splash.png" gap:platform="ios" width="1242" height="2208" />
	<!--<gap:splash src="res/ios/splash_landscape.png" gap:platform="ios" width="2208" height="1242" />-->

	<!-- iPad -->
	<gap:splash src="splash.png" gap:platform="ios" width="768" height="1024" />
	<!--<gap:splash src="res/ios/splash_landscape.png" gap:platform="ios" width="1024" height="768" />-->

	<!-- Retina iPad -->
	<gap:splash src="splash.png" gap:platform="ios" width="1536" height="2048" />
	<!--<gap:splash src="res/ios/splash_landscape.png" gap:platform="ios" width="2048" height="1536" />-->
</widget>
