<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<title>{{'ACTIVER' | translate}}</title>

	<link rel="stylesheet" href="lib/onsen/css/onsenui.css">
	<link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
	<link rel="stylesheet" href="styles/onsen-css-override.css"/>
	<link rel="stylesheet" href="styles/app.css"/>
	<link rel="stylesheet" href="styles/browse.css"/>
	<link rel="stylesheet" href="styles/invitations.css"/>
	<link rel="stylesheet" href="styles/login.css"/>
	<link rel="stylesheet" href="styles/my-activities.css"/>
	<link rel="stylesheet" href="styles/show-profile.css"/>
	<link rel="stylesheet" href="styles/edit-profile.css"/>
	<link rel="stylesheet" href="styles/register.css"/>

	<script src="lib/onsen/js/angular/angular.js"></script>
	<script src="lib/angular/angular-translate.js"></script>
	<script src="lib/onsen/js/onsenui.js"></script>
	<script src="cordova.js"></script>

	<script>
		var onNotification, onNotificationAPN;
		window.deviceReady = false;
	</script>
	<script src="app.js" type="application/javascript"></script>
	<script src="i18n.js" type="application/javascript"></script>
	<script src="filters.js" type="application/javascript"></script>
	<script src="conf.js" type="application/javascript"></script>
	<script src="eventService.js" type="application/javascript"></script>
	<script src="fileSystemService.js" type="application/javascript"></script>
	<script src="userService.js" type="application/javascript"></script>
	<script src="directService.js" type="application/javascript"></script>
	<script src="activityService.js" type="application/javascript"></script>
	<script src="activityTypeService.js" type="application/javascript"></script>
	<script src="invitationService.js" type="application/javascript"></script>
	<script src="loginCtrl.js" type="application/javascript"></script>
	<script src="registerCtrl.js" type="application/javascript"></script>
	<script src="browseCtrl.js" type="application/javascript"></script>
	<script src="createActivityCtrl.js" type="application/javascript"></script>
	<script src="mainMenuCtrl.js" type="application/javascript"></script>
	<script src="listInvitationsCtrl.js" type="application/javascript"></script>
	<script src="myActivitiesCtrl.js" type="application/javascript"></script>
	<script src="settingsCtrl.js" type="application/javascript"></script>
	<script src="showActivityCtrl.js" type="application/javascript"></script>
	<script src="showProfileCtrl.js" type="application/javascript"></script>
	<script src="editProfileCtrl.js" type="application/javascript"></script>
	<script src="selectListCtrl.js" type="application/javascript"></script>
</head>
<body ng-app="app">
<ons-navigator var="appNavigator" page="login.html"></ons-navigator>

<ons-modal var="confirmationModal">
	<div class="alert-dialog-mask"></div>
	<div class="alert-dialog">
		<div class="alert-dialog-title">{{'COMMON_SIGN_OUT' | translate}}</div>

		<div class="alert-dialog-content">
			{{'SIGN_OUT_CONFIRMATION_TEXT' | translate}}
		</div>

		<div class="alert-dialog-footer alert-dialog-footer--one">
			<button class="alert-dialog-button alert-dialog-button--primal alert-dialog-button--one">{{'COMMON_SIGN_OUT' | translate}}</button>
			<button class="alert-dialog-button alert-dialog-button--one">{{'COMMON_CANCEL' | translate}}</button>
		</div>
	</div>
</ons-modal>

<script type="text/ons-template" id="login.html">
<!--<ons-template id="login.html">-->
	<ons-page ng-controller="loginCtrl" ng-init="initialize()">
		<ons-toolbar>
			<div class="center">{{'LOGIN_SIGN_IN' | translate}}</div>
		</ons-toolbar>

		<div class="login-form">
			<input type="email" class="text-input--underbar" placeholder="{{'COMMON_EMAIL' | translate}}" ng-model="email" value="">
			<input type="password" class="text-input--underbar" placeholder="{{'COMMON_PASSWORD' | translate}}" ng-model="password" value="">
			<br><br>
			<ons-button modifier="large" class="login-button" ng-click="login()">{{'LOGIN_SIGN_IN' | translate}}</ons-button>
			<br><br>
			<ons-button modifier="large" class="login-button" ng-click="facebookLogin()">{{'LOGIN_SIGN_IN_WITH_FACEBOOK' | translate}}</ons-button>
			<br>
			<ons-button modifier="quiet" class="sign-up" ng-click="register();">{{'SIGN_UP_SIGN_UP' | translate}}</ons-button>
			<br>
			<ons-button modifier="quiet" class="forgot-password">{{'LOGIN_FORGOT_PASSWORD' | translate}}</ons-button>
		</div>
	</ons-page>
<!--</ons-template>-->
</script>






<script type="text/ons-template" id="sign-up.html" src="templates/sign-up.html"></script>
<!--<ons-template id="sign-up.html">-->
	<!---->
<!--</ons-template>-->







<ons-template id="main-view.html">
	<ons-page>
		<ons-sliding-menu
			menu-page="main-menu.html"
			main-page="browse.html"
			side="left"
			var="mainMenu"
			type="reveal"
			max-slide-distance="260px"
			swipeable="false">
		</ons-sliding-menu>
	</ons-page>
</ons-template>

<ons-template id="browse.html">
	<ons-page class="center" ng-controller="browseCtrl" ng-init="initialize();" id="browse-activities">
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button ng-click="mainMenu.toggle();">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">{{'ACTIVER' | translate}}</div>
			<div class="right">
				<ons-toolbar-button ng-click="appNavigator.pushPage('create-activity.html');">
					<ons-icon icon="ion-ios-plus-outline" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>
		<ons-button modifier="large" style="margin: 0 auto;" ng-click="showActivityTypePopover($event);">
			{{selectedActivityType.name || 'BROWSE_ALL_ACTIVITY_TYPES' | translate}}
		</ons-button>
		<div ng-show="activities.length" style="height: 100%;">
			<ons-carousel swipeable overscrollable auto-scroll auto-refresh style="height: 100%;" var="browseCarousel" auto-scroll-ratio="0.33" ons-postchange="changed($event)" ons-overscroll="overscrolled($event)">
				<ons-carousel-item ng-repeat="activity in activities track by $index" style="visibility: visible !important">
					<div class="profile-card" style="{{activity.activity_type.style}}" ng-click="showProfile(activity.organizer)">
						<img ng-src="{{_getOrganizerImage(activity)}}" class="activity-organizer-image" alt="{{activity.organizer.email}}">
						<div class="activity-info">
							<div class="activity-type-name">{{activity.activity_type.name}}</div>
							<div class="activity-organizer-name">{{activity.organizer.name}}</div>
							<div class="activity-location-name">{{activity.location_name}}</div>
							<div class="activity-timeframe">{{activity.from | asDate | date: "d.M. klo H:mm"}} - {{activity.to | asDate | date: "H:mm"}}</div>
							<div class="activity-desc">{{activity.comments[0].text}}</div>
							<div class="activity-stars">
								<div class="star-five" ng-class="{highlight: activity.required_level >= n}" ng-repeat="n in [1, 2, 3, 4, 5]"></div>
							</div>
							<div class="activity-participants">{{activity.participants.length + 1}} / {{activity.participant_count}} {{'BROWSE_PARTICIPANTS' | translate}}</div>
							<div class="activity-distance">{{activity.distance | number:1}} km</div>
						</div>
					</div>
					<div class="controls" style="width: 140px; margin: 5% auto;">
						<ons-icon
							icon="fa-forward"
							size="20px"
							fixed-width="false"
							style="background-color: dimgray; border-radius: 50%; padding: 20px; color: red; float: right;"
							ng-click="skip(activity);">
						</ons-icon>
						<ons-icon
							icon="fa-check"
							size="20px"
							fixed-width="false"
							style="background-color: dimgray; border-radius: 50%; padding: 20px; color: green; float: left;"
							ng-click="invite(activity);">
						</ons-icon>
					</div>
				</ons-carousel-item>
				<ons-carousel-cover>
					<div class="cover-label">
						{{'BROWSE_SWIPE_FOR_MORE' | translate}}<br/>
						{{'COMMON_ACTIVITY' | translate}} {{currentIndex + 1}} / {{activities.length}}
					</div>
				</ons-carousel-cover>
			</ons-carousel>
		</div>
		<div ng-hide="activities.length">
			<div style="margin: 100px auto 0; width: 130px;">
				{{'BROWSE_NO_ACTIVITIES' | translate}}<br/>
				<ons-button modifier="large outline" style="margin: 0 auto;" ng-click="updateActivities(true);">
					{{'COMMON_UPDATE' | translate}}
				</ons-button>
			</div>
		</div>


	</ons-page>
</ons-template>

<script type="text/ons-template" id="popover.html">
	<ons-popover cancelable direction="down">
		<ons-list>
			<ons-list-item ng-click="changeActivityType({})" modifier="tappable">
				{{'BROWSE_ALL_ACTIVITY_TYPES' | translate}}
			</ons-list-item>
			<ons-list-item ng-repeat="activityType in activityTypes" ng-click="$parent.changeActivityType(activityType)" modifier="tappable">
				{{ activityType.name }}
			</ons-list-item>
		</ons-list>
	</ons-popover>
</script>


<ons-template id="main-menu.html">
	<ons-page modifier="menu-page" ng-controller="mainMenuCtrl">
		<ons-toolbar modifier="transparent">
			<div class="center">{{'ACTIVER' | translate}}</div>
		</ons-toolbar>

		<ons-list class="menu-list" style="margin-bottom: 6px;">
			<ons-list-item class="menu-item" ng-click="appNavigator.pushPage('create-activity.html');mainMenu.closeMenu();">
				<ons-icon icon="fa-plus"></ons-icon>
				{{'MENU_CREATE_ACTIVITY' | translate}}
			</ons-list-item>
			<ons-list-item class="menu-item" ng-click="appNavigator.pushPage('show-activities.html');mainMenu.closeMenu();">
				<ons-icon icon="fa-star"></ons-icon>
				{{'MENU_MY_ACTIVITIES' | translate}}
			</ons-list-item>
			<ons-list-item class="menu-item" ng-click="appNavigator.pushPage('list-invitations.html');mainMenu.closeMenu();">
				<ons-icon icon="fa-user"></ons-icon>
				{{'MENU_INVITATIONS' | translate}}
				<div ng-show="invitations" class="notification menu-notification">{{invitations.length}}</div>
			</ons-list-item>
		</ons-list>

		<ons-list class="bottom-menu-list">
			<ons-list-item class="bottom-menu-item" ng-click="appNavigator.pushPage('settings.html');mainMenu.closeMenu();">
				{{'MENU_SETTINGS' | translate}}
			</ons-list-item>

			<ons-list-item class="bottom-menu-item" ng-click="appNavigator.pushPage('edit-profile.html');mainMenu.closeMenu();">
				{{'MENU_PROFILE' | translate}}
			</ons-list-item>

			<ons-list-item class="bottom-menu-item" ng-click="appNavigator.pushPage('about.html');mainMenu.closeMenu();">
				{{'MENU_ABOUT' | translate}}
			</ons-list-item>
		</ons-list>
	</ons-page>
</ons-template>













<ons-template id="create-activity.html">
	<ons-page ng-controller="createActivityCtrl">
		<ons-toolbar>
			<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
			<div class="center">{{'CREATE_ACTIVITY' | translate}}</div>
		</ons-toolbar>

		<ons-list modifier="inset" style="margin-top: 10px">
			<ons-list-item>
				<label for="activity-type">{{'CREATE_ACTIVITY_ACTIVITY_TYPE' | translate}}</label>
				<select id="activity-type" ng-model="activityType" ng-options="activityType.name for activityType in activityTypes track by activityType.id" style="float: right; margin-top: 2px; padding: 9px;"></select>
			</ons-list-item>

			<ons-list-item>
				{{'CREATE_ACTIVITY_TIME' | translate}}: <input type="date" ng-model="date" class="text-input text-input--transparent" style="background-color: rgb(221, 221, 221);"> <input type="time" ng-model="from" class="text-input text-input--transparent" style="background-color: rgb(221, 221, 221)"> -
				<input type="time" ng-model="to" class="text-input text-input--transparent" style="background-color: rgb(221, 221, 221);">
			</ons-list-item>

			<ons-list-item>
				{{'CREATE_ACTIVITY_LOCATION_NAME' | translate}}: <input type="text" ng-model="locationName" class="text-input text-input--transparent" placeholder="{{'CREATE_ACTIVITY_LOCATION' | translate}}" style="width: 100%">
			</ons-list-item>

			<ons-list-item>
				{{'CREATE_ACTIVITY_MAX_PARTICIPANTS' | translate}}: <input type="number" max="20" ng-model="participantCount" class="text-input text-input--transparent" style="width: 100%">
			</ons-list-item>

			<ons-list-item>
				{{'CREATE_ACTIVITY_REQUIRED_LEVEL' | translate}}: <input type="number" min="0" max="5" step="0.5" ng-model="requiredLevel" class="text-input text-input--transparent" style="width: 100%">
			</ons-list-item>

			<ons-list-item>
				{{'CREATE_ACTIVITY_MORE_INFORMATION' | translate}}: <textarea class="textarea textarea--transparent" ng-model="message" style="width: 100%; height: 100px;"></textarea>
			</ons-list-item>
		</ons-list>

		<div style="padding: 10px 9px">
			<ons-button modifier="large outline" style="margin: 0 auto;" ng-click="createActivity();">
				{{'CREATE_ACTIVITY' | translate}}
			</ons-button>
		</div>
	</ons-page>
</ons-template>



















<ons-template id="show-activity.html">
	<ons-page class="center" ng-controller="showActivityCtrl" ng-init="initialize(appNavigator.getCurrentPage().options.activity)">
		<ons-toolbar>
			<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
			<div class="center">{{'ACTIVER' | translate}}</div>
			<div class="right">
			</div>
		</ons-toolbar>

		<div style="height: 100%;">
			{{activity.location_name}}
			<input type="text" ng-model="comment" placeholder="{{'SHOW_ACTIVITY_WRITE_A_COMMENT' | translate}}" />
			<ons-button modifier="large" ng-click="sendComment()">{{'SHOW_ACTIVITY_COMMENT' | translate}}</ons-button>
		</div>
	</ons-page>
</ons-template>


























<ons-template id="show-profile.html">
	<ons-page class="center" ng-controller="showProfileCtrl" ng-init="initialize(appNavigator.getCurrentPage().options.profile)" id="show-profile">
		<ons-toolbar>
			<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
			<div class="center">{{'ACTIVER' | translate}}</div>
			<div class="right">
			</div>
		</ons-toolbar>

		<div class="profile-card">
			<img src="{{profile.picture}}" class="profile-image">
			<div class="profile-name">{{profile.name}}</div>
			<div class="profile-id">{{'PROFILE_AGE' | translate}}: {{profile.born | ageFilter}}</div>
			<div class="profile-desc">{{profile.description}}</div>
		</div>

		<ons-list>
			<ons-list-item>
				<ons-row>
					<ons-col class="info-col">
						<div class="info-num">{{profile.activity_count}}</div>
						<div class="info-unit">{{'PROFILE_PARTICIPATIONS' | translate}}</div>
					</ons-col>
					<ons-col class="info-col">
						<div class="info-num">{{profile.rating_mean | number:1}}</div>
						<div class="info-unit">{{'PROFILE_RATING' | translate}}</div>
					</ons-col>
					<ons-col class="info-col">
						<div class="info-num">{{profile.rating_count}}</div>
						<div class="info-unit">{{'PROFILE_RATING_COUNT' | translate}}</div>
					</ons-col>
				</ons-row>
			</ons-list-item>
		</ons-list>

		<ons-list modifier="inset" style="margin-top: 10px">
			<ons-list-item modifier="chevron" ng-hide="profile.is_direct || hideDirect()" ng-click="addAsDirect(profile)">
				{{'DIRECT_ADD' | translate}}
			</ons-list-item>

			<ons-list-item modifier="chevron" ng-show="profile.is_direct" ng-click="removeDirect(profile)">
				{{'DIRECT_REMOVE' | translate}}
			</ons-list-item>
		</ons-list>
	</ons-page>
</ons-template>














<ons-template id="select-list.html">
	<ons-page class="center" ng-controller="selectListCtrl" ng-init="initialize(appNavigator.getCurrentPage().options)">
		<ons-toolbar>
			<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
			<div class="center">{{'ACTIVER' | translate}}</div>
			<div class="right">
			</div>
		</ons-toolbar>

		<ons-list>
			<ons-list-header>{{name}}</ons-list-header>
			<ons-list-item modifier="tappable" ng-repeat="item in data" id="item.id">
				<label class="checkbox checkbox--list-item">
					<input type="checkbox" ng-checked="selection.indexOf(item.id) !== -1" ng-click="toggleSelection(item.id)">
					<div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
					{{item.name}}
				</label>
			</ons-list-item>
		</ons-list>
		<ons-button modifier="large" ng-click="cancel()">{{'COMMON_CANCEL' | translate}}</ons-button>
		<ons-button modifier="large" ng-click="ok()">{{'COMMON_OK' | translate}}</ons-button>
	</ons-page>
</ons-template>


















<ons-template id="show-activities.html">
	<ons-page ng-controller="myActivitiesCtrl" ng-init="initialize()">
		<ons-toolbar>
			<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
			<div class="center">
				{{'MENU_MY_ACTIVITIES' | translate}}
			</div>
			<div class="right">
				<ons-toolbar-button>
					<ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>

		<ons-list class="my-activities-list">
			<ons-list-item
				modifier="chevron"
				class="my-activities"
				ng-repeat="activityObj in activities track by $index"
				ng-click="showActivity(activityObj);"
				ng-class="{
				'own': ownActivity(activityObj),
				'pending': pendingActivity(activityObj),
				'participating': participatingInActivity(activityObj)
				}">
				<ons-row>
					<ons-col width="80px" class="my-activities-left">
						<div class="my-activities-date">{{activityObj.from | asDate | date: "d.M. klo H:mm"}} - {{activityObj.to | asDate | date: "H:mm"}}</div>
						<div class="my-activities-duration">{{getDuration(activityObj.from, activityObj.to) | asDate | date: "H'h' mm'min'"}}</div>
					</ons-col>

					<ons-col width="6px" class="my-activities-center" style="background-color: #3399ff">
					</ons-col>

					<ons-col class="my-activities-right">
						<div class="my-activities-name">{{activityObj.activity_type.name}}</div>

						<!--<div class="my-activities-info">
							<div ng-hide="a % 4 == 0">
								<ons-icon icon="fa-phone"></ons-icon>123-456-789
							</div>
						</div>-->
					</ons-col>
				</ons-row>
			</ons-list-item>
		</ons-list>
	</ons-page>
</ons-template>

















<ons-template id="list-invitations.html">
	<ons-page ng-controller="listInvitationsCtrl" ng-init="initialize()">
		<ons-toolbar>
			<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
			<div class="center">
				{{'MENU_INVITATIONS' | translate}}
			</div>
			<div class="right">
				<ons-toolbar-button>
					<ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>

		<ons-list class="invitation-list">
			<ons-list-item modifier="chevron" class="invitation" ng-repeat="invitation in invitations track by $index" ng-click="showActivity(invitation.activity);">
				<ons-row> <!--  ng-style="{backgroundColor:status == 'match' ? '#3399ff' : '#ccc'}" -->
					<ons-col width="80px" class="invitation-left">
						<div class="invitation-date">{{invitation.activity.from | asDate | date: "d.M. klo H:mm"}} - {{invitation.activity.to | asDate | date: "H:mm"}}</div>
						<div class="invitation-duration">{{getDuration(invitation.activity.from, invitation.activity.to) | asDate | date: "H'h' mm'min'"}}</div>
					</ons-col>

					<ons-col width="6px" class="invitation-center" style="background-color: #3399ff">
					</ons-col>

					<ons-col class="invitation-right">
						<div class="invitation-name">{{invitation.activity.activity_type.name}}</div>

						<!--<div class="invitation-info">
							<div ng-hide="a % 4 == 0">
								<ons-icon icon="fa-phone"></ons-icon>123-456-789
							</div>
						</div>-->

						<div class="controls">
							<ons-icon icon="ion-checkmark-circled" size="56px" fixed-width="false" ng-click="accept(invitation, $index);" style="color: green;"></ons-icon>
							<ons-icon icon="ion-close-circled" size="56px" fixed-width="false" ng-click="reject(invitation, $index);" style="color: red;"></ons-icon>
						</div>
					</ons-col>
				</ons-row>
			</ons-list-item>
		</ons-list>
	</ons-page>
</ons-template>












<ons-template id="edit-profile.html">
	<ons-page id="edit-profile" ng-controller="editProfileCtrl" ng-init="initialize(appNavigator.getCurrentPage().options.registeredDeferred)">
		<ons-toolbar>
			<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
			<div class="center">{{'EDIT_PROFILE' | translate}}</div>
		</ons-toolbar>

		<div class="formarea">
			<div class="form-row">
				<input type="text" class="text-input--underbar width-full" placeholder="{{'COMMON_EMAIL' | translate}}" ng-model="user.email">
			</div>

			<div class="form-row">
				<input type="password" class="text-input--underbar width-full" placeholder="{{'COMMON_PASSWORD' | translate}}" ng-model="user.password">
			</div>

			<div class="form-row">
				<input type="text" class="text-input--underbar width-half" placeholder="{{'COMMON_NAME' | translate}}" ng-model="user.profile.name">
			</div>

			<div class="lucent">
				<p class="note">{{'EDIT_PROFILE_NAME_HINT' | translate}}</p>
			</div>
		</div>
	</ons-page>
</ons-template>












<ons-template id="settings.html">
	<ons-page class="center">
		<ons-toolbar>
			<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
			<div class="center">{{'MENU_SETTINGS' | translate}}</div>
			<div class="right"></div>
		</ons-toolbar>


		<div class="content-padded" style="font-size: 13px; text-align: center; color: #999;" ng-controller="settingsCtrl">
			<ons-list>
				<ons-list-item>{{'SETTINGS_RANGE' | translate}}: <input type="number" min="1" max="500" ng-model="range" /></ons-list-item>
			</ons-list>
			<ons-list>
				<ons-list-item modifier="tappable" ng-click="logout()" style=""><ons-icon icon="ion-log-out" style="opacity: 0.8"></ons-icon>{{getUserName()}}<span style="color: #00ACEE;">{{'SETTINGS_SIGN_OUT' | translate}}</span></ons-list-item>
			</ons-list>
		</div>
	</ons-page>
</ons-template>



<ons-template id="about.html">
	<ons-page>
		<ons-toolbar>
			<div class="left"><ons-back-button>{{'COMMON_BACK' | translate}}</ons-back-button></div>
		</ons-toolbar>
		<div class="content-padded" style="font-size: 13px; text-align: center;">
			<h1>{{'ABOUT_TITLE' | translate}}</h1>
			<p>{{'ABOUT_VERSION' | translate}} 1.0.0<br/>
				info@activer.net<br/>
				Roope Hakulinen, Jesse Kaislavuo, Tommi Ketola, Vesa Fagerlund & Ville Salonen<br/>
			</p>
		</div>
	</ons-page>
</ons-template>

<ons-modal var="loginLoader">
	<ons-icon icon="fa-circle-o-notch" spin="true"></ons-icon>
	<div>
		<div>{{'LOGIN_SIGNING_IN' | translate}}</div>
	</div>
</ons-modal>

<ons-modal var="commonLoader">
	<ons-icon icon="fa-circle-o-notch" spin="true"></ons-icon>
	<div>
		<div></div>
	</div>
</ons-modal>
</body>
</html>
