<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<title>Activer</title>

	<link rel="stylesheet" href="lib/onsen/css/onsenui.css">
	<link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
	<link rel="stylesheet" href="styles/app.css"/>

	<script src="lib/onsen/js/angular/angular.js"></script>
	<script src="filters.js" type="application/javascript"></script>
	<script src="lib/onsen/js/onsenui.js"></script>
	<script src="cordova.js"></script>

	<script>
		document.addEventListener('deviceready', function () {
			console.log("Got deviceready.");
		}, false);
	</script>
	<script src="app.js" type="application/javascript"></script>
	<script src="conf.js" type="application/javascript"></script>
	<script src="fileSystemService.js" type="application/javascript"></script>
	<script src="settingsService.js" type="application/javascript"></script>
	<script src="userService.js" type="application/javascript"></script>
	<script src="activityService.js" type="application/javascript"></script>
	<script src="activityTypeService.js" type="application/javascript"></script>
	<script src="invitationService.js" type="application/javascript"></script>
	<script src="directService.js" type="application/javascript"></script>
	<script src="loginCtrl.js" type="application/javascript"></script>
	<script src="browseCtrl.js" type="application/javascript"></script>
	<script src="createActivityCtrl.js" type="application/javascript"></script>
	<script src="mainMenuCtrl.js" type="application/javascript"></script>
	<script src="listInvitationsCtrl.js" type="application/javascript"></script>
	<script src="settingsListCtrl.js" type="application/javascript"></script>
	<script src="settingsCtrl.js" type="application/javascript"></script>
</head>
<body ng-app="app">
<ons-navigator var="appNavigator" page="login.html"></ons-navigator>



<ons-template id="login.html">
	<ons-page ng-controller="loginCtrl" ng-init="initialize()">
		<ons-toolbar>
			<div class="center">Kirjaudu sisään</div>
		</ons-toolbar>

		<ons-modal var="loginLoader">
			<ons-icon icon="fa-circle-o-notch" spin="true"></ons-icon>
			<div>
				<div>Kirjaudutaan sisään</div>
			</div>
		</ons-modal>

		<div class="login-form">
			<input type="email" class="text-input--underbar" placeholder="Email" ng-model="email" value="">
			<input type="password" class="text-input--underbar" placeholder="Password" ng-model="password" value="">
			<br><br>
			<ons-button modifier="large" class="login-button" ng-click="login()">Kirjaudu sisään</ons-button>
			<br><br>
			<ons-button modifier="large" class="login-button" ng-click="facebookLogin()">Kirjaudu sisään Facebookin avulla</ons-button>
			<br>
			<ons-button modifier="quiet" class="forgot-password">Unohditko salasanasi?</ons-button>
		</div>
	</ons-page>
</ons-template>












<ons-template id="main-view.html">
	<ons-sliding-menu
		menu-page="main-menu.html"
		main-page="browse.html"
		side="left"
		var="slidingMenu"
		type="reveal"
		max-slide-distance="260px"
		swipable="true">
	</ons-sliding-menu>
</ons-template>

<ons-template id="browse.html">
	<ons-page class="center" ng-controller="browseCtrl">
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button ng-click="slidingMenu.toggle();">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">Activer</div>
			<div class="right">
				<ons-toolbar-button ng-click="appNavigator.pushPage('create-activity.html');">
					<ons-icon icon="ion-ios-plus-outline" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>

		<div ng-show="currentActivity.id">
			<div class="profile-card">
				<img src="{{currentActivity.image || ''}}" class="profile-image">
				<div class="profile-name">{{currentActivity.name}}</div>
				<div class="profile-id">{{currentActivity.date}}</div>
				<div class="profile-desc">{{currentActivity.desc}}</div>
				<div class="profile-stars">{{currentActivity.stars}}</div>
			</div>
			<div class="controls">
				<ons-button ng-click="invite();">Lähetä kutsu</ons-button>
				<ons-button ng-click="skip();">Skippaa</ons-button>
			</div>
		</div>
		<div ng-hide="currentActivity.id">
			Ei aktiviteetteja..
		</div>
	</ons-page>
</ons-template>


<ons-template id="main-menu.html">
	<ons-page modifier="menu-page" ng-controller="mainMenuCtrl">
		<ons-modal var="menuListLoader">
			<ons-icon icon="fa-circle-o-notch" spin="true"></ons-icon>
			<div>
				<div>Ladataan</div>
			</div>
		</ons-modal>
		<ons-toolbar modifier="transparent">
			<div class="center"></div>
		</ons-toolbar>

		<ons-list class="menu-list">
			<!--<ons-list-item class="menu-item" ng-click="appNavigator.resetToPage('browse.html');slidingMenu.closeMenu();">
				<ons-icon icon="fa-search"></ons-icon>
				Näytä aktiviteetit
			</ons-list-item>-->
			<ons-list-item class="menu-item" ng-click="appNavigator.pushPage('create-activity.html');slidingMenu.closeMenu();">
				<ons-icon icon="fa-plus"></ons-icon>
				Luo aktiviteetti
			</ons-list-item>
			<ons-list-item class="menu-item" ng-click="appNavigator.pushPage('show-activities.html');slidingMenu.closeMenu();">
				<ons-icon icon="fa-star"></ons-icon>
				Minun aktiviteettini
			</ons-list-item>
			<ons-list-item class="menu-item" ng-click="appNavigator.pushPage('list-invitations.html');slidingMenu.closeMenu();">
				<ons-icon icon="fa-user"></ons-icon>
				Kutsut
				<div ng-show="invitations" class="notification menu-notification">{{invitations.length}}</div>
			</ons-list-item>
		</ons-list>

		<br>

		<ons-list class="bottom-menu-list">
			<ons-list-item class="bottom-menu-item" ng-click="appNavigator.pushPage('settings-view.html');slidingMenu.closeMenu();">
				Asetukset
			</ons-list-item>

			<ons-list-item class="bottom-menu-item" ng-click="appNavigator.pushPage('profile.html');slidingMenu.closeMenu();">
				Profiili
			</ons-list-item>

			<ons-list-item class="bottom-menu-item" ng-click="appNavigator.pushPage('help.html');slidingMenu.closeMenu();">
				Tietoja
			</ons-list-item>

			<ons-list-item class="bottom-menu-item" ng-click="">
				Activer
			</ons-list-item>
		</ons-list>
	</ons-page>
</ons-template>








<ons-template id="create-activity.html">
	<ons-page>
		<ons-toolbar>
			<div class="left"><ons-back-button>Takaisin</ons-back-button></div>
			<div class="center">Luo aktiviteetti</div>
		</ons-toolbar>

		<ons-list modifier="inset" style="margin-top: 10px" ng-controller="createActivityCtrl">
			<ons-list-item>
				<input type="text" class="text-input text-input--transparent" placeholder="Nimi" style="width: 100%">
			</ons-list-item>

			<ons-list-item>
				<label for="activity-type">Tyyppi</label>
				<select id="activity-type" ng-model="activityType" ng-options="activityType.name for activityType in activityTypes track by activityType.id" style="float: right; margin-top: 2px; padding: 9px;"></select>
			</ons-list-item>

			<ons-list-item>
				<textarea class="textarea textarea--transparent" placeholder="Viesti" style="width: 100%; height: 100px;"></textarea>
			</ons-list-item>

			<ons-list-item modifier="chevron">
				<ons-icon icon="fa-tag" style="opacity:0.2"></ons-icon>
			</ons-list-item>
		</ons-list>

		<div style="padding: 10px 9px">
			<ons-button modifier="large outline" style="margin: 0 auto;" ng-click="createActivity();">
				Luo aktiviteetti
			</ons-button>
		</div>
	</ons-page>
</ons-template>




<ons-template id="list-invitations.html">
	<ons-page ng-controller="listInvitationsCtrl">
		<ons-toolbar>
			<div class="left"><ons-back-button>Takaisin</ons-back-button></div>
			<div class="center">
				Kutsut
			</div>
			<div class="right">
				<ons-toolbar-button>
					<ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>

		<ons-list class="plan-list">
			<ons-list-item modifier="chevron" class="plan" ng-repeat="a in [1,2,3,4,5,6,7,8,9,10]" ng-click="showActivity(a);">
				<ons-row>
					<ons-col width="80px" class="plan-left">
						<div class="plan-date">5:30 PM</div>
						<div class="plan-duration">1h</div>
					</ons-col>

					<ons-col width="6px" class="plan-center" ng-style="{backgroundColor:a % 3 == 1 ? '#3399ff' : '#ccc'}">
					</ons-col>

					<ons-col class="plan-right">
						<div class="plan-name">Onsen UI Meetup</div>

						<div class="plan-info">
							<div ng-hide="a % 4 == 0">
								<ons-icon icon="fa-phone"></ons-icon>123-456-789
							</div>
						</div>

						<div class="controls">
							<ons-icon icon="ion-checkmark-circled" size="28px" fixed-width="false" ng-click="accept();"></ons-icon>
							<ons-icon icon="ion-close-circled" size="28px" fixed-width="false" ng-click="reject();"></ons-icon>
						</div>
					</ons-col>
				</ons-row>
			</ons-list-item>
		</ons-list>
	</ons-page>
</ons-template>













<ons-template id="settings-view.html">
	<ons-split-view
		secondary-page="settings-listing.html"
		main-page="general-settings-page.html"
		main-page-width="70%"
		collapse="width 600px"
		var="settingsView">
	</ons-split-view>
</ons-template>

<ons-template id="settings-listing.html">
	<ons-page ng-controller="settingsListCtrl">
		<ons-toolbar>
			<div class="left"><ons-back-button>Takaisin</ons-back-button></div>
			<div class="center"></div>
		</ons-toolbar>
		<ons-list modifier="right-border" id="settings-page-list" ng-repeat="page in availablePages">
			<ons-list-item modifier="tappable" ng-click="settingsView.setMainPage(page.target);">{{page.name}}</ons-list-item>
		</ons-list>
	</ons-page>
</ons-template>

<ons-template id="general-settings-page.html">
	<ons-page class="center">
		<ons-modal var="appLoader">
			<ons-icon icon="fa-circle-o-notch" spin="true"></ons-icon>
			<div>
				<div>Loading</div>
			</div>
		</ons-modal>
		<ons-toolbar>
			<div class="left"><ons-back-button>Takaisin</ons-back-button></div>
			<div class="center">Asetukset</div>
		</ons-toolbar>


		<div class="content-padded" style="font-size: 13px; text-align: center; color: #999;" ng-controller="settingsCtrl">
			<ons-list>
				<ons-list-header>Settings</ons-list-header>
				<ons-list-item>Auto reload:<ons-switch var="useAutoReloadSwitch" ng-model="useAutoReload"></ons-switch></ons-list-item>
				<ons-list-item>Timeout: <select id="timeout-select" ng-model="selectedTimeout.id" ng-options="timeout.id as timeout.name for timeout in timeoutListOptions"></select></ons-list-item>
				<ons-list-item>Device name: <input type="text" ng-model="deviceName" /></ons-list-item>
			</ons-list>
		</div>
	</ons-page>
</ons-template>



<ons-template id="about-page.html">
	<ons-page ng-controller="settingsCtrl">
		<ons-toolbar>
			<div class="left"><ons-back-button>Takaisin</ons-back-button></div>
		</ons-toolbar>
		<div class="content-padded" style="font-size: 13px; text-align: center; color: #999;">
			<h1>Activer</h1>
			<p>Designed by: Roope Hakulinen</p>
		</div>
	</ons-page>
</ons-template>

<ons-modal var="commonLoader">
	<ons-icon icon="fa-circle-o-notch" spin="true"></ons-icon>
	<div>
		<div></div>
	</div>
</ons-modal>
</body>
</html>
