<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<title>Activer</title>

	<link rel="stylesheet" href="lib/onsen/css/onsenui.css">
	<link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
	<link rel="stylesheet" href="styles/app.css"/>

	<script src="lib/onsen/js/angular/angular.js"></script>
	<script src="lib/onsen/js/onsenui.js"></script>
	<script src="cordova.js"></script>

	<script>
		window.deviceReady = false;
	</script>
	<script src="app.js" type="application/javascript"></script>
	<script src="filters.js" type="application/javascript"></script>
	<script src="conf.js" type="application/javascript"></script>
	<script src="eventService.js" type="application/javascript"></script>
	<script src="fileSystemService.js" type="application/javascript"></script>
	<script src="settingsService.js" type="application/javascript"></script>
	<script src="userService.js" type="application/javascript"></script>
	<script src="activityService.js" type="application/javascript"></script>
	<script src="activityTypeService.js" type="application/javascript"></script>
	<script src="invitationService.js" type="application/javascript"></script>
	<script src="directService.js" type="application/javascript"></script>
	<script src="loginCtrl.js" type="application/javascript"></script>
	<script src="browseCtrl.js" type="application/javascript"></script>
	<script src="createActivityCtrl.js" type="application/javascript"></script>
	<script src="mainMenuCtrl.js" type="application/javascript"></script>
	<script src="listInvitationsCtrl.js" type="application/javascript"></script>
	<script src="settingsCtrl.js" type="application/javascript"></script>
</head>
<body ng-app="app">
<ons-navigator var="appNavigator" page="login.html"></ons-navigator>

<ons-modal var="confirmationModal">
	<div class="alert-dialog-mask"></div>
	<div class="alert-dialog">
		<div class="alert-dialog-title">Kirjaudu ulos</div>

		<div class="alert-dialog-content">
			Oletko varma, että haluat kirjautua ulos?
		</div>

		<div class="alert-dialog-footer alert-dialog-footer--one">
			<button class="alert-dialog-button alert-dialog-button--primal alert-dialog-button--one">Kirjaudu ulos</button>
			<button class="alert-dialog-button alert-dialog-button--one">Peruuta</button>
		</div>
	</div>
</ons-modal>

<ons-template id="login.html">
	<ons-page ng-controller="loginCtrl" ng-init="initialize()">
		<ons-toolbar>
			<div class="center">Kirjaudu sisään</div>
		</ons-toolbar>

		<ons-modal var="loginLoader">
			<ons-icon icon="fa-circle-o-notch" spin="true"></ons-icon>
			<div>
				<div>Kirjaudutaan sisään</div>
			</div>
		</ons-modal>

		<div class="login-form">
			<input type="email" class="text-input--underbar" placeholder="Email" ng-model="email" value="">
			<input type="password" class="text-input--underbar" placeholder="Password" ng-model="password" value="">
			<br><br>
			<ons-button modifier="large" class="login-button" ng-click="login()">Kirjaudu sisään</ons-button>
			<br><br>
			<ons-button modifier="large" class="login-button" ng-click="facebookLogin()">Kirjaudu sisään Facebookin avulla</ons-button>
			<br>
			<ons-button modifier="quiet" class="forgot-password">Unohditko salasanasi?</ons-button>
		</div>
	</ons-page>
</ons-template>












<ons-template id="main-view.html">
	<ons-page>
		<ons-sliding-menu
			menu-page="main-menu.html"
			main-page="browse.html"
			side="left"
			var="slidingMenu"
			type="reveal"
			max-slide-distance="260px"
			swipeable="false">
		</ons-sliding-menu>
	</ons-page>
</ons-template>

<ons-template id="browse.html">
	<ons-page class="center" ng-controller="browseCtrl">
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button ng-click="slidingMenu.toggle();">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">Activer</div>
			<div class="right">
				<ons-toolbar-button ng-click="appNavigator.pushPage('create-activity.html');">
					<ons-icon icon="ion-ios-plus-outline" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>

		<div ng-show="currentActivity.id">
			<ons-gesture-detector ng-swipeleft="skip()" ng-swiperight="invite()">
				<div class="profile-card" style="{{_getActivityTypeStyles()}}">
					<img ng-src="{{_getOrganizerImage()}}" class="profile-image" alt="{{currentActivity.organizer.email}}">
					<div class="profile-name">{{currentActivity.organizer.profile.name}}</div>
					<div class="profile-location-name">{{currentActivity.location_name}}</div>
					<div class="profile-timeframe">{{currentActivity.from | asDate | date: "d.M. klo H:mm"}} - {{currentActivity.to | asDate | date: "H:mm"}}</div>
					<div class="profile-desc">{{currentActivity.comments[0].text}}</div>
					<div class="profile-stars">
						<div class="star-five" ng-class="{highlight: currentActivity.required_level >= n}" ng-repeat="n in [1, 2, 3, 4, 5]"></div>
					</div>
					<div class="profile-participants">{{currentActivity.participants}} / {{currentActivity.participant_count}} pelaajaa jo mukana</div>
					<div class="profile-distance">{{currentActivity.distance | number:1}} km</div>
				</div>
			</ons-gesture-detector>
			<div class="controls" style="width: 140px; margin: 5% auto;">
				<ons-icon
					icon="fa-forward"
					size="20px"
					fixed-width="false"
					style="background-color: dimgray; border-radius: 50%; padding: 20px; color: red; float: right;"
					ng-click="skip();">
				</ons-icon>
				<ons-icon
					icon="fa-check"
					size="20px"
					fixed-width="false"
					style="background-color: dimgray; border-radius: 50%; padding: 20px; color: green; float: left;"
					ng-click="invite();">
				</ons-icon>
			</div>
		</div>
		<div ng-hide="currentActivity.id">
			<div style="margin: 0 auto; width: 130px;margin-top: 100px">Ei aktiviteetteja..</div>
		</div>
	</ons-page>
</ons-template>


<ons-template id="main-menu.html">
	<ons-page modifier="menu-page" ng-controller="mainMenuCtrl">
		<ons-modal var="menuListLoader">
			<ons-icon icon="fa-circle-o-notch" spin="true"></ons-icon>
			<div>
				<div>Ladataan</div>
			</div>
		</ons-modal>
		<ons-toolbar modifier="transparent">
			<div class="center">Activer</div>
		</ons-toolbar>

		<ons-list class="menu-list" style="margin-bottom: 6px;">
			<ons-list-item class="menu-item" ng-click="appNavigator.pushPage('create-activity.html');slidingMenu.closeMenu();">
				<ons-icon icon="fa-plus"></ons-icon>
				Luo aktiviteetti
			</ons-list-item>
			<ons-list-item class="menu-item" ng-click="appNavigator.pushPage('show-activities.html');slidingMenu.closeMenu();">
				<ons-icon icon="fa-star"></ons-icon>
				Minun aktiviteettini
			</ons-list-item>
			<ons-list-item class="menu-item" ng-click="appNavigator.pushPage('list-invitations.html');slidingMenu.closeMenu();">
				<ons-icon icon="fa-user"></ons-icon>
				Kutsut
				<div ng-show="invitations" class="notification menu-notification">{{invitations.length}}</div>
			</ons-list-item>
		</ons-list>

		<ons-list class="bottom-menu-list">
			<ons-list-item class="bottom-menu-item" ng-click="appNavigator.pushPage('settings.html');slidingMenu.closeMenu();">
				Asetukset
			</ons-list-item>

			<!--<ons-list-item class="bottom-menu-item" ng-click="appNavigator.pushPage('profile.html');slidingMenu.closeMenu();">
				Profiili
			</ons-list-item>-->

			<ons-list-item class="bottom-menu-item" ng-click="appNavigator.pushPage('about.html');slidingMenu.closeMenu();">
				Tietoja
			</ons-list-item>
		</ons-list>
	</ons-page>
</ons-template>








<ons-template id="create-activity.html">
	<ons-page>
		<ons-toolbar>
			<div class="left"><ons-back-button>Takaisin</ons-back-button></div>
			<div class="center">Luo aktiviteetti</div>
		</ons-toolbar>

		<ons-list modifier="inset" style="margin-top: 10px" ng-controller="createActivityCtrl">
			<ons-list-item>
				<label for="activity-type">Tyyppi</label>
				<select id="activity-type" ng-model="activityType" ng-options="activityType.name for activityType in activityTypes track by activityType.id" style="float: right; margin-top: 2px; padding: 9px;"></select>
			</ons-list-item>

			<ons-list-item>
				Ajanjakso: <input type="text" ng-model="date" class="text-input text-input--transparent" style="width: 40px"> <input type="text" ng-model="from" class="text-input text-input--transparent" style="width: 40px"> -
				<input type="text" ng-model="to" class="text-input text-input--transparent" style="width: 40px">
			</ons-list-item>

			<ons-list-item>
				Sijainti: <input type="text" ng-model="locationName" class="text-input text-input--transparent" placeholder="Paikka" style="width: 100%">
			</ons-list-item>

			<ons-list-item>
				Maksimiosallistujamäärä: <input type="text" ng-model="participantCount" class="text-input text-input--transparent" style="width: 100%">
			</ons-list-item>

			<ons-list-item>
				Vaadittu taso (0.0 - 5.0): <input type="text" ng-model="requiredLevel" class="text-input text-input--transparent" style="width: 100%">
			</ons-list-item>

			<ons-list-item>
				Lisätietoja: <textarea class="textarea textarea--transparent" ng-model="message" style="width: 100%; height: 100px;"></textarea>
			</ons-list-item>
		</ons-list>

		<div style="padding: 10px 9px">
			<ons-button modifier="large outline" style="margin: 0 auto;" ng-click="createActivity();">
				Luo aktiviteetti
			</ons-button>
		</div>
	</ons-page>
</ons-template>




<ons-template id="list-invitations.html">
	<ons-page ng-controller="listInvitationsCtrl">
		<ons-toolbar>
			<div class="left"><ons-back-button>Takaisin</ons-back-button></div>
			<div class="center">
				Kutsut
			</div>
			<div class="right">
				<ons-toolbar-button>
					<ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>

		<ons-list class="plan-list">
			<ons-list-item modifier="chevron" class="plan" ng-repeat="a in [1,2,3,4,5,6,7,8,9,10]" ng-click="showActivity(a);">
				<ons-row>
					<ons-col width="80px" class="plan-left">
						<div class="plan-date">5:30 PM</div>
						<div class="plan-duration">1h</div>
					</ons-col>

					<ons-col width="6px" class="plan-center" ng-style="{backgroundColor:a % 3 == 1 ? '#3399ff' : '#ccc'}">
					</ons-col>

					<ons-col class="plan-right">
						<div class="plan-name">Onsen UI Meetup</div>

						<div class="plan-info">
							<div ng-hide="a % 4 == 0">
								<ons-icon icon="fa-phone"></ons-icon>123-456-789
							</div>
						</div>

						<div class="controls">
							<ons-icon icon="ion-checkmark-circled" size="28px" fixed-width="false" ng-click="accept();"></ons-icon>
							<ons-icon icon="ion-close-circled" size="28px" fixed-width="false" ng-click="reject();"></ons-icon>
						</div>
					</ons-col>
				</ons-row>
			</ons-list-item>
		</ons-list>
	</ons-page>
</ons-template>









<ons-template id="settings.html">
	<ons-page class="center">
		<ons-modal var="appLoader">
			<ons-icon icon="fa-circle-o-notch" spin="true"></ons-icon>
			<div>
				<div>Ladataan</div>
			</div>
		</ons-modal>
		<ons-toolbar>
			<div class="left"><ons-back-button>Takaisin</ons-back-button></div>
			<div class="center">Asetukset</div>
			<div class="right"></div>
		</ons-toolbar>


		<div class="content-padded" style="font-size: 13px; text-align: center; color: #999;" ng-controller="settingsCtrl">
			<ons-list>
				<ons-list-item>Etäisyys: <input type="text" ng-model="range" /></ons-list-item>
			</ons-list>
			<ons-list>
				<ons-list-item modifier="tappable" ng-click="logout()" style="">{{getUserName()}}<span style="color: #00ACEE;">Sign out from Activer</span></ons-list-item>
			</ons-list>
		</div>
	</ons-page>
</ons-template>



<ons-template id="about.html">
	<ons-page>
		<ons-toolbar>
			<div class="left"><ons-back-button>Takaisin</ons-back-button></div>
		</ons-toolbar>
		<div class="content-padded" style="font-size: 13px; text-align: center;">
			<h1>Activer by Activer Ltd</h1>
			<p>Version 1.0.0<br/>
				Contact via info@activer.net<br/>
				Designed by: Roope Hakulinen<br/>
			</p>
		</div>
	</ons-page>
</ons-template>

<ons-modal var="commonLoader">
	<ons-icon icon="fa-circle-o-notch" spin="true"></ons-icon>
	<div>
		<div></div>
	</div>
</ons-modal>
</body>
</html>
